

<div class="tableContainer">

    <table id="myTable" border="1px" class="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>section</th>
            <th>-</th>

        </tr>
        <tr *ngFor="let staff of staffs">
            <td>{{staff.id}} </td>
            <td>{{staff.name}} </td>
            <td>{{staff.section}}</td>
            <!-- <td><button (click)="handleDeleteBtnClick()">Delete</button></td> -->
            <td><button (click)="handleDeleteBtnClick(staff.id)">Delete</button></td>
            <td><input type="checkbox" (click)="staffSelectionService.toggleSelected(staff.id)"></td>
        </tr>
    </table>

</div>
