<app-header></app-header>
<div class="contentContainer">
  <div class="leftNavbar">
    <app-navbar></app-navbar>
  </div>
  <div class="content">
    <!-- <app-content></app-content> -->
    <app-content-text></app-content-text>
    
    <router-outlet></router-outlet>

    <app-content-text-bottom></app-content-text-bottom>

    <ng-container *ngIf="popupHandlerService.showAddStaffPopUp">
      <app-staff-form formType="add" ></app-staff-form>
    </ng-container>
    
    <ng-container *ngIf="popupHandlerService.showUpdateStaffPopUp">
      <app-staff-form formType="update" ></app-staff-form>
    </ng-container>
    
    <ng-container *ngIf="popupHandlerService.showDeleteConfirmationPopUp">
      <app-confirmation-popup (hasConfirmed)="handleConfirmation($event)"></app-confirmation-popup>
    </ng-container>

    


    
  </div>
</div>