<div class="header">

    <div class="logoContainer">
        <div class="logo">
            <div class="logoText">
                LOGO
            </div>
        </div>
    </div>

    <div class="headingContainer">
        <div class="heading">
            <div class="headingText">
                Staff Management System
            </div>
        </div>
    </div>

    <div class="userIconContainer">
        <div class="userIcon">
            <div class="userIconText">
                PM
            </div>

        </div>
    </div>

</div>